body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Light gray background */
}

#flipbook {
    position: relative;
    max-width: 90vw; /* Limit the maximum width to 90% of the viewport width */
    max-height: 90vh; /* Limit the maximum height to 90% of the viewport height */
    overflow: hidden; /* Hide overflow to prevent scrollbars */
}

#flipbook-container {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s ease-in-out; /* Smooth transition for sliding effect */
    transform: translateX(0%); /* Start position */
}

#bookImage {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the area while preserving aspect ratio */
}

button {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #007bff; /* Bootstrap blue color */
    color: #fff;
}

button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

#pageIndicator {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}
